In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9],
                   [np.nan, np.nan, np.nan]],
                  columns=['A', 'B', 'C'])

df

     A    B    C
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0
3  NaN  NaN  NaN

In [3]:
df.agg(['sum','min'])

        A     B     C
sum  12.0  15.0  18.0
min   1.0   2.0   3.0

In [4]:
df.agg({'A':['sum', 'min'], 'B':['min','max']})

        A    B
sum  12.0  NaN
min   1.0  2.0
max   NaN  8.0

In [5]:
df.agg(x=('A', max), y=('B', 'min'), z=('C', np.mean))

     A    B    C
x  7.0  NaN  NaN
y  NaN  2.0  NaN
z  NaN  NaN  6.0

In [ ]:
df.agg('mean')

A    4.0
B    5.0
C    6.0
dtype: float64

In [6]:
df.agg("mean", axis="columns")

0    2.0
1    5.0
2    8.0
3    NaN
dtype: float64